body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1383px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u2324 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u2325 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2326 {
  position:absolute;
  left:526px;
  top:259px;
  width:375px;
  height:646px;
}
#u2326_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:646px;
}
#u2327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2327 {
  position:absolute;
  left:526px;
  top:239px;
  width:375px;
  height:65px;
}
#u2328 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u2329 {
  position:absolute;
  left:531px;
  top:249px;
  width:360px;
  height:11px;
}
#u2330 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2331 {
  position:absolute;
  left:685px;
  top:270px;
  width:59px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2332 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  white-space:nowrap;
}
#u2333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u2333 {
  position:absolute;
  left:541px;
  top:274px;
  width:9px;
  height:15px;
}
#u2334 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:489px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2335 {
  position:absolute;
  left:541px;
  top:330px;
  width:336px;
  height:489px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2336 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u2337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2337 {
  position:absolute;
  left:562px;
  top:839px;
  width:303px;
  height:40px;
}
#u2338 {
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u2339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:793px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2339 {
  position:absolute;
  left:500px;
  top:1099px;
  width:539px;
  height:793px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2340 {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  white-space:nowrap;
}
#u2341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2341 {
  position:absolute;
  left:748px;
  top:425px;
  width:35px;
  height:35px;
}
#u2342 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u2343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2343 {
  position:absolute;
  left:719px;
  top:330px;
  width:25px;
  height:25px;
}
#u2344 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2345 {
  position:absolute;
  left:697px;
  top:526px;
  width:25px;
  height:25px;
}
#u2346 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2347 {
  position:absolute;
  left:731px;
  top:625px;
  width:25px;
  height:25px;
}
#u2348 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2349 {
  position:absolute;
  left:823px;
  top:715px;
  width:35px;
  height:35px;
}
#u2350 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u2351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2351 {
  position:absolute;
  left:992px;
  top:848px;
  width:391px;
  height:177px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2352 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u2353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u2353 {
  position:absolute;
  left:152px;
  top:1099px;
  width:299px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u2354 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
