body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:874px;
}
#u4269 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:874px;
}
#u4270 {
  position:absolute;
  left:2px;
  top:429px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:690px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4271 {
  position:absolute;
  left:524px;
  top:238px;
  width:376px;
  height:690px;
}
#u4272 {
  position:absolute;
  left:2px;
  top:337px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4273 {
  position:absolute;
  left:525px;
  top:238px;
  width:375px;
  height:44px;
}
#u4274 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4275 {
  position:absolute;
  left:525px;
  top:234px;
  width:375px;
  height:64px;
}
#u4276 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u4277 {
  position:absolute;
  left:530px;
  top:244px;
  width:360px;
  height:11px;
}
#u4278 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u4279 {
  position:absolute;
  left:662px;
  top:267px;
  width:113px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u4280 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  white-space:nowrap;
}
#u4281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u4281 {
  position:absolute;
  left:539px;
  top:262px;
  width:29px;
  height:27px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4282 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3000px;
  height:1700px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4283 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3000px;
  height:1700px;
}
#u4284 {
  position:absolute;
  left:2px;
  top:842px;
  width:2996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4285 {
  position:absolute;
  left:10px;
  top:1110px;
  width:300px;
  height:20px;
}
#u4286 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4287 {
  position:absolute;
  left:10px;
  top:1112px;
  width:127px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4288 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u4289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4289 {
  position:absolute;
  left:532px;
  top:325px;
  width:73px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4290 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4291 {
  position:absolute;
  left:622px;
  top:325px;
  width:246px;
  height:20px;
}
#u4292 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u4293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4293 {
  position:absolute;
  left:526px;
  top:355px;
  width:374px;
  height:140px;
}
#u4294 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  word-wrap:break-word;
}
#u4295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4295 {
  position:absolute;
  left:530px;
  top:511px;
  width:145px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4296 {
  position:absolute;
  left:0px;
  top:2px;
  width:145px;
  white-space:nowrap;
}
#u4297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4297 {
  position:absolute;
  left:688px;
  top:546px;
  width:360px;
  height:16px;
}
#u4298 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u4299 {
  position:absolute;
  left:530px;
  top:546px;
  width:31px;
  height:31px;
}
#u4300 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4301 {
  position:absolute;
  left:571px;
  top:552px;
  width:66px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4302 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u4303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4303 {
  position:absolute;
  left:530px;
  top:587px;
  width:354px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4304 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  word-wrap:break-word;
}
#u4305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u4305 {
  position:absolute;
  left:530px;
  top:663px;
  width:31px;
  height:31px;
}
#u4306 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4307 {
  position:absolute;
  left:571px;
  top:669px;
  width:66px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4308 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u4309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4309 {
  position:absolute;
  left:525px;
  top:697px;
  width:380px;
  height:69px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4310 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
