body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u4185 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u4186 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4187 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:65px;
}
#u4188 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u4189 {
  position:absolute;
  left:531px;
  top:248px;
  width:360px;
  height:11px;
}
#u4190 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u4191 {
  position:absolute;
  left:676px;
  top:269px;
  width:77px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u4192 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u4193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u4193 {
  position:absolute;
  left:541px;
  top:273px;
  width:9px;
  height:15px;
}
#u4194 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4195 {
  position:absolute;
  left:526px;
  top:303px;
  width:375px;
  height:603px;
}
#u4196 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4197 {
  position:absolute;
  left:695px;
  top:328px;
  width:33px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4198 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4199 {
  position:absolute;
  left:541px;
  top:364px;
  width:350px;
  height:28px;
}
#u4200 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u4201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4201 {
  position:absolute;
  left:780px;
  top:406px;
  width:97px;
  height:14px;
}
#u4202 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4203 {
  position:absolute;
  left:779px;
  top:423px;
  width:98px;
  height:14px;
}
#u4204 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u4205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3000px;
  height:1700px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4205 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3000px;
  height:1700px;
}
#u4206 {
  position:absolute;
  left:2px;
  top:842px;
  width:2996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4207 {
  position:absolute;
  left:10px;
  top:1110px;
  width:300px;
  height:20px;
}
#u4208 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4209 {
  position:absolute;
  left:10px;
  top:1112px;
  width:127px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4210 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u4211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4211 {
  position:absolute;
  left:10px;
  top:1140px;
  width:375px;
  height:65px;
}
#u4212 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u4213 {
  position:absolute;
  left:15px;
  top:1150px;
  width:360px;
  height:11px;
}
#u4214 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u4215 {
  position:absolute;
  left:160px;
  top:1171px;
  width:77px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u4216 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u4217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4217 {
  position:absolute;
  left:40px;
  top:1171px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u4218 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u4219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u4219 {
  position:absolute;
  left:25px;
  top:1175px;
  width:9px;
  height:15px;
}
#u4220 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4221 {
  position:absolute;
  left:485px;
  top:1219px;
  width:25px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4222 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4223 {
  position:absolute;
  left:59px;
  top:1194px;
  width:0px;
  height:0px;
}
#u4223_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u4223_seg1 {
  position:absolute;
  left:-4px;
  top:28px;
  width:430px;
  height:8px;
}
#u4223_seg2 {
  position:absolute;
  left:412px;
  top:22px;
  width:21px;
  height:20px;
}
#u4224 {
  position:absolute;
  left:147px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u4225 {
  position:absolute;
  left:485px;
  top:1243px;
  width:37px;
  height:14px;
}
#u4226 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4227 {
  position:absolute;
  left:522px;
  top:1243px;
  width:49px;
  height:14px;
}
#u4228 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0280F1;
}
#u4229 {
  position:absolute;
  left:571px;
  top:1243px;
  width:65px;
  height:14px;
  color:#0280F1;
}
#u4230 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4231 {
  position:absolute;
  left:10px;
  top:1319px;
  width:375px;
  height:603px;
}
#u4232 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4233 {
  position:absolute;
  left:179px;
  top:1344px;
  width:33px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4234 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4235 {
  position:absolute;
  left:26px;
  top:1381px;
  width:343px;
  height:42px;
}
#u4236 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  word-wrap:break-word;
}
#u4237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4237 {
  position:absolute;
  left:284px;
  top:1484px;
  width:85px;
  height:14px;
}
#u4238 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4239 {
  position:absolute;
  left:271px;
  top:1541px;
  width:98px;
  height:14px;
}
#u4240 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u4241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4241 {
  position:absolute;
  left:485px;
  top:1347px;
  width:25px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4242 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4243 {
  position:absolute;
  left:212px;
  top:1354px;
  width:0px;
  height:0px;
}
#u4243_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:277px;
  height:8px;
}
#u4243_seg1 {
  position:absolute;
  left:259px;
  top:-10px;
  width:21px;
  height:20px;
}
#u4244 {
  position:absolute;
  left:86px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u4245 {
  position:absolute;
  left:485px;
  top:1371px;
  width:37px;
  height:14px;
}
#u4246 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4247 {
  position:absolute;
  left:522px;
  top:1371px;
  width:145px;
  height:14px;
}
#u4248 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4249 {
  position:absolute;
  left:485px;
  top:1415px;
  width:25px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4250 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4251 {
  position:absolute;
  left:485px;
  top:1434px;
  width:133px;
  height:14px;
}
#u4252 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u4253 {
  position:absolute;
  left:369px;
  top:1422px;
  width:0px;
  height:0px;
}
#u4253_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:120px;
  height:8px;
}
#u4253_seg1 {
  position:absolute;
  left:102px;
  top:-10px;
  width:21px;
  height:20px;
}
#u4254 {
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4255 {
  position:absolute;
  left:485px;
  top:1484px;
  width:37px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4256 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4257 {
  position:absolute;
  left:485px;
  top:1508px;
  width:145px;
  height:14px;
}
#u4258 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4259 {
  position:absolute;
  left:369px;
  top:1491px;
  width:0px;
  height:0px;
}
#u4259_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:120px;
  height:8px;
}
#u4259_seg1 {
  position:absolute;
  left:102px;
  top:-10px;
  width:21px;
  height:20px;
}
#u4260 {
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4261 {
  position:absolute;
  left:485px;
  top:1541px;
  width:49px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4262 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4263 {
  position:absolute;
  left:369px;
  top:1548px;
  width:0px;
  height:0px;
}
#u4263_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:120px;
  height:8px;
}
#u4263_seg1 {
  position:absolute;
  left:102px;
  top:-10px;
  width:21px;
  height:20px;
}
#u4264 {
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u4265 {
  position:absolute;
  left:485px;
  top:1565px;
  width:37px;
  height:14px;
}
#u4266 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4267 {
  position:absolute;
  left:522px;
  top:1565px;
  width:92px;
  height:14px;
}
#u4268 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
