body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u2124 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2126 {
  position:absolute;
  left:526px;
  top:259px;
  width:375px;
  height:646px;
}
#u2126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:646px;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2127 {
  position:absolute;
  left:526px;
  top:239px;
  width:375px;
  height:65px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u2129 {
  position:absolute;
  left:531px;
  top:249px;
  width:360px;
  height:11px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2131 {
  position:absolute;
  left:687px;
  top:270px;
  width:77px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2132 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u2133 {
  position:absolute;
  left:541px;
  top:274px;
  width:9px;
  height:15px;
}
#u2134 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2135 {
  position:absolute;
  left:531px;
  top:314px;
  width:82px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2136 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3600px;
  height:2000px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2137 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3600px;
  height:2000px;
  font-size:18px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:992px;
  width:3596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2139 {
  position:absolute;
  left:12px;
  top:1111px;
  width:320px;
  height:19px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u2141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:608px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2141 {
  position:absolute;
  left:530px;
  top:343px;
  width:371px;
  height:608px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2142 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u2143 {
  position:absolute;
  left:12px;
  top:1182px;
  width:375px;
  height:835px;
}
#u2143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:835px;
}
#u2144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2144 {
  position:absolute;
  left:12px;
  top:1162px;
  width:375px;
  height:65px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u2146 {
  position:absolute;
  left:17px;
  top:1172px;
  width:360px;
  height:11px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2148 {
  position:absolute;
  left:173px;
  top:1193px;
  width:77px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2149 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u2150 {
  position:absolute;
  left:27px;
  top:1197px;
  width:9px;
  height:15px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2152 {
  position:absolute;
  left:17px;
  top:1237px;
  width:82px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2153 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:608px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2154 {
  position:absolute;
  left:14px;
  top:1266px;
  width:365px;
  height:608px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2155 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2156 {
  position:absolute;
  left:32px;
  top:1912px;
  width:145px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2157 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2158 {
  position:absolute;
  left:200px;
  top:1912px;
  width:145px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2159 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2160 {
  position:absolute;
  left:500px;
  top:1925px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2161 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u2162 {
  position:absolute;
  left:500px;
  top:1952px;
  width:37px;
  height:17px;
}
#u2163 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2164 {
  position:absolute;
  left:537px;
  top:1952px;
  width:97px;
  height:17px;
}
#u2165 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2166 {
  position:absolute;
  left:500px;
  top:1934px;
  width:0px;
  height:0px;
}
#u2166_seg0 {
  position:absolute;
  left:-155px;
  top:-4px;
  width:159px;
  height:8px;
}
#u2166_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u2167 {
  position:absolute;
  left:-128px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2168 {
  position:absolute;
  left:500px;
  top:2045px;
  width:73px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2169 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u2170 {
  position:absolute;
  left:500px;
  top:2072px;
  width:37px;
  height:17px;
}
#u2171 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2172 {
  position:absolute;
  left:537px;
  top:2072px;
  width:135px;
  height:17px;
}
#u2173 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u2174 {
  position:absolute;
  left:500px;
  top:2054px;
  width:0px;
  height:0px;
}
#u2174_seg0 {
  position:absolute;
  left:-399px;
  top:-4px;
  width:399px;
  height:8px;
}
#u2174_seg1 {
  position:absolute;
  left:-399px;
  top:-99px;
  width:8px;
  height:103px;
}
#u2174_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u2175 {
  position:absolute;
  left:-297px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
