body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:874px;
}
#u9005 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:874px;
}
#u9006 {
  position:absolute;
  left:2px;
  top:429px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:690px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9007 {
  position:absolute;
  left:524px;
  top:246px;
  width:376px;
  height:690px;
}
#u9008 {
  position:absolute;
  left:2px;
  top:337px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9009 {
  position:absolute;
  left:525px;
  top:238px;
  width:375px;
  height:44px;
}
#u9010 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9011 {
  position:absolute;
  left:525px;
  top:234px;
  width:375px;
  height:64px;
}
#u9012 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u9013 {
  position:absolute;
  left:530px;
  top:244px;
  width:360px;
  height:11px;
}
#u9014 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u9015 {
  position:absolute;
  left:698px;
  top:267px;
  width:41px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u9016 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u9017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9017 {
  position:absolute;
  left:539px;
  top:306px;
  width:69px;
  height:23px;
}
#u9018 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u9019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9019 {
  position:absolute;
  left:697px;
  top:308px;
  width:103px;
  height:23px;
}
#u9020 {
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  white-space:nowrap;
}
#u9021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u9021 {
  position:absolute;
  left:539px;
  top:262px;
  width:29px;
  height:27px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u9022 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9023 {
  position:absolute;
  left:539px;
  top:339px;
  width:37px;
  height:23px;
}
#u9024 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u9025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9025 {
  position:absolute;
  left:539px;
  top:372px;
  width:85px;
  height:23px;
}
#u9026 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u9027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9027 {
  position:absolute;
  left:539px;
  top:409px;
  width:53px;
  height:23px;
}
#u9028 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u9029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9029 {
  position:absolute;
  left:704px;
  top:338px;
  width:44px;
  height:23px;
}
#u9030 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u9031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9031 {
  position:absolute;
  left:697px;
  top:371px;
  width:121px;
  height:23px;
}
#u9032 {
  position:absolute;
  left:2px;
  top:2px;
  width:117px;
  white-space:nowrap;
}
#u9033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9033 {
  position:absolute;
  left:697px;
  top:409px;
  width:38px;
  height:23px;
}
#u9034 {
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  white-space:nowrap;
}
#u9035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9035 {
  position:absolute;
  left:560px;
  top:535px;
  width:300px;
  height:43px;
}
#u9036 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u9037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3000px;
  height:1700px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9037 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3000px;
  height:1700px;
}
#u9038 {
  position:absolute;
  left:2px;
  top:842px;
  width:2996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9039 {
  position:absolute;
  left:10px;
  top:1110px;
  width:300px;
  height:20px;
}
#u9040 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9041 {
  position:absolute;
  left:10px;
  top:1112px;
  width:127px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9042 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u9043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:638px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9043 {
  position:absolute;
  left:10px;
  top:1360px;
  width:376px;
  height:638px;
}
#u9044 {
  position:absolute;
  left:2px;
  top:311px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9045 {
  position:absolute;
  left:11px;
  top:1166px;
  width:375px;
  height:44px;
}
#u9046 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9047 {
  position:absolute;
  left:11px;
  top:1162px;
  width:375px;
  height:64px;
}
#u9048 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u9049 {
  position:absolute;
  left:16px;
  top:1172px;
  width:360px;
  height:11px;
}
#u9050 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u9051 {
  position:absolute;
  left:184px;
  top:1195px;
  width:41px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u9052 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u9053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9053 {
  position:absolute;
  left:25px;
  top:1368px;
  width:69px;
  height:23px;
}
#u9054 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u9055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9055 {
  position:absolute;
  left:183px;
  top:1370px;
  width:103px;
  height:23px;
}
#u9056 {
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  white-space:nowrap;
}
#u9057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u9057 {
  position:absolute;
  left:25px;
  top:1190px;
  width:29px;
  height:27px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u9058 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9059 {
  position:absolute;
  left:25px;
  top:1401px;
  width:37px;
  height:23px;
}
#u9060 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u9061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9061 {
  position:absolute;
  left:25px;
  top:1434px;
  width:85px;
  height:23px;
}
#u9062 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u9063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9063 {
  position:absolute;
  left:25px;
  top:1471px;
  width:53px;
  height:23px;
}
#u9064 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u9065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9065 {
  position:absolute;
  left:190px;
  top:1400px;
  width:44px;
  height:23px;
}
#u9066 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u9067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9067 {
  position:absolute;
  left:183px;
  top:1433px;
  width:121px;
  height:23px;
}
#u9068 {
  position:absolute;
  left:2px;
  top:2px;
  width:117px;
  white-space:nowrap;
}
#u9069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9069 {
  position:absolute;
  left:183px;
  top:1471px;
  width:38px;
  height:23px;
}
#u9070 {
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  white-space:nowrap;
}
#u9071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9071 {
  position:absolute;
  left:46px;
  top:1620px;
  width:300px;
  height:43px;
}
#u9072 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u9073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9073 {
  position:absolute;
  left:486px;
  top:1250px;
  width:25px;
  height:14px;
}
#u9074 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u9075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u9075 {
  position:absolute;
  left:486px;
  top:1274px;
  width:37px;
  height:14px;
}
#u9076 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9077 {
  position:absolute;
  left:523px;
  top:1274px;
  width:101px;
  height:14px;
}
#u9078 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u9079 {
  position:absolute;
  left:486px;
  top:1257px;
  width:0px;
  height:0px;
}
#u9079_seg0 {
  position:absolute;
  left:-450px;
  top:-4px;
  width:450px;
  height:8px;
}
#u9079_seg1 {
  position:absolute;
  left:-450px;
  top:-40px;
  width:8px;
  height:44px;
}
#u9079_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u9080 {
  position:absolute;
  left:-293px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9081 {
  position:absolute;
  left:539px;
  top:449px;
  width:101px;
  height:26px;
  color:#FF0000;
}
#u9082 {
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  white-space:nowrap;
}
#u9083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9083 {
  position:absolute;
  left:803px;
  top:449px;
  width:15px;
  height:26px;
  color:#FF0000;
}
#u9084 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  white-space:nowrap;
}
#u9085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9085 {
  position:absolute;
  left:39px;
  top:1526px;
  width:101px;
  height:26px;
  color:#FF0000;
}
#u9086 {
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  white-space:nowrap;
}
#u9087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9087 {
  position:absolute;
  left:303px;
  top:1526px;
  width:15px;
  height:26px;
  color:#FF0000;
}
#u9088 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  white-space:nowrap;
}
#u9089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u9089 {
  position:absolute;
  left:486px;
  top:1526px;
  width:73px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u9090 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u9091 {
  position:absolute;
  left:486px;
  top:1550px;
  width:37px;
  height:14px;
}
#u9092 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9093 {
  position:absolute;
  left:523px;
  top:1550px;
  width:169px;
  height:51px;
  color:#FF0000;
}
#u9094 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u9095 {
  position:absolute;
  left:486px;
  top:1535px;
  width:0px;
  height:0px;
}
#u9095_seg0 {
  position:absolute;
  left:-127px;
  top:-4px;
  width:127px;
  height:8px;
}
#u9095_seg1 {
  position:absolute;
  left:-127px;
  top:-4px;
  width:8px;
  height:5px;
}
#u9095_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u9096 {
  position:absolute;
  left:-112px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
