body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:924px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:874px;
}
#u9786 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:874px;
}
#u9787 {
  position:absolute;
  left:2px;
  top:429px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:690px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9788 {
  position:absolute;
  left:524px;
  top:245px;
  width:376px;
  height:690px;
}
#u9789 {
  position:absolute;
  left:2px;
  top:337px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9790 {
  position:absolute;
  left:525px;
  top:237px;
  width:375px;
  height:44px;
}
#u9791 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9792 {
  position:absolute;
  left:525px;
  top:233px;
  width:375px;
  height:64px;
}
#u9793 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u9794 {
  position:absolute;
  left:530px;
  top:243px;
  width:360px;
  height:11px;
}
#u9795 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u9796 {
  position:absolute;
  left:570px;
  top:265px;
  width:166px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u9797 {
  position:absolute;
  left:2px;
  top:2px;
  width:162px;
  white-space:nowrap;
}
#u9798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9798 {
  position:absolute;
  left:546px;
  top:266px;
  width:14px;
  height:23px;
  color:#FFFFFF;
}
#u9799 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  white-space:nowrap;
}
#u9800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9800 {
  position:absolute;
  left:561px;
  top:827px;
  width:295px;
  height:44px;
}
#u9801 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u9802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:59px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9802 {
  position:absolute;
  left:570px;
  top:571px;
  width:300px;
  height:59px;
  color:#FFFFFF;
}
#u9803 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u9804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9804 {
  position:absolute;
  left:672px;
  top:492px;
  width:77px;
  height:26px;
  font-size:18px;
}
#u9805 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u9806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:59px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9806 {
  position:absolute;
  left:570px;
  top:663px;
  width:300px;
  height:59px;
  color:#FFFFFF;
}
#u9807 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u9808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:119px;
}
#u9808 {
  position:absolute;
  left:653px;
  top:353px;
  width:119px;
  height:119px;
}
#u9809 {
  position:absolute;
  left:2px;
  top:52px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
